div{
height:auto;
width:150px;
background-color: black;
}
.title{
    color:blue;
    border-bottom:5px solid green;    
}

.list{
    height:auto;
    width:auto;
    background-color:darkblue;
    border:3px solid black;
}
.dan{
    height: auto;
    width: 430px;
    background-color: aqua;
    padding:10px;
    color:burlywood;
    border:5px solid goldenrod;
}
.listone{
    height:auto;
    width:205px;
    background-color: aquamarine;
    padding:5px;
    border:5px solid darkgoldenrod;
    margin:6px;
}
.listtwo{
    height: auto;
    width: 205px;
    background-color: cadetblue;
    padding: 5px;
    border:5px solid darkorange;
    margin: 6px;
}
.listthree{
    text-align: center;
    font-size: 13px;
    height:auto;
    width:353px;
    background-color: blueviolet;
    padding:5px;
    border:4px solid green;
    margin: 6px;
}
body{
    height:auto;
    width:220px;
    background-color: blanchedalmond;
}